# Homework 1 - Wikipedia Web Traffic Time Series

–£ –≤–∞—Å –µ—Å—Ç—å –¥–∞–Ω–Ω—ã–µ –ø–æ –ø–æ—Å–µ—â–µ–Ω–∏—é 1000 —Å—Ç—Ä–∞–Ω–∏—Ü  –í–∏–∫–∏–ø–µ–¥–∏–∏ –∏–∑ —Ä–∞–∑–Ω—ã—Ö —Å—Ç—Ä–∞–Ω –∏ —Ä–∞–∑–Ω—ã—Ö –¥–µ–≤–∞–π—Å–æ–≤ ( \*  * –¥–∞–Ω–Ω—ã–µ –≤–∑—è—Ç—ã –∏–∑ [Kaggle —Å–æ—Ä–µ–≤–Ω–æ–≤–∞–Ω–∏—è](https://www.kaggle.com/c/web-traffic-time-series-forecasting)* )

*wikipedia_train* –∏ *wikipedia_test* - —Å–æ–¥–µ—Ä–∂–∞—Ç –¥–∞–Ω–Ω—ã–µ –æ —Ç—Ä–∞—Ñ–∏–∫–µ. –≠—Ç–æ —Ñ–∞–π–ª—ã csv, –≥–¥–µ –∫–∞–∂–¥–∞—è —Å—Ç—Ä–æ–∫–∞ —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É–µ—Ç –æ–ø—Ä–µ–¥–µ–ª–µ–Ω–Ω–æ–π —Å—Ç–∞—Ç—å–µ, –∏ –∫–∞–∂–¥—ã–π —Å—Ç–æ–ª–±–µ—Ü —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É–µ—Ç –∫–æ–Ω–∫—Ä–µ—Ç–Ω–æ–π –¥–∞—Ç–µ. –í –Ω–µ–∫–æ—Ç–æ—Ä—ã—Ö –∑–∞–ø–∏—Å—è—Ö –æ—Ç—Å—É—Ç—Å—Ç–≤—É—é—Ç –¥–∞–Ω–Ω—ã–µ. –ù–∞–∑–≤–∞–Ω–∏—è —Å—Ç—Ä–∞–Ω–∏—Ü —Å–æ–¥–µ—Ä–∂–∞—Ç –ø—Ä–æ–µ–∫—Ç –í–∏–∫–∏–ø–µ–¥–∏–∏ (–Ω–∞–ø—Ä–∏–º–µ—Ä, en.wikipedia.org), —Ç–∏–ø –¥–æ—Å—Ç—É–ø–∞ (–Ω–∞–ø—Ä–∏–º–µ—Ä, desktop) –∏ —Ç–∏–ø –∞–≥–µ–Ω—Ç–∞ (–Ω–∞–ø—Ä–∏–º–µ—Ä, spider). –î—Ä—É–≥–∏–º–∏ —Å–ª–æ–≤–∞–º–∏, –∫–∞–∂–¥–æ–µ –∏–º—è —Å—Ç–∞—Ç—å–∏ –∏–º–µ–µ—Ç —Å–ª–µ–¥—É—é—â–∏–π —Ñ–æ—Ä–º–∞—Ç: ¬´name_project_access_agent¬ª (–Ω–∞–ø—Ä–∏–º–µ—Ä, ¬´AKB48_zh.wikipedia.org_all-access_spider¬ª).

–í–∞–º –Ω—É–∂–Ω–æ –æ—Ç–≤–µ—Ç–∏—Ç—å –Ω–∞ [–≤–æ–ø—Ä–æ—Å—ã](https://docs.google.com/forms/d/e/1FAIpQLSfDjWeeZJw5EvmKn1x_6b9xicjn7ed3MF0rbNm4Cmwr7psSkQ/viewform?usp=sf_link) –∏ –ø–æ–ø—Ä–æ–±–æ–≤–∞—Ç—å —Å–¥–µ–ª–∞—Ç—å —Å–∞–º—É—é –ø—Ä–æ—Å—Ç—É—é –º–æ–¥–µ–ª—å –∫–æ—Ç–æ—Ä–∞—è —Å–º–æ–∂–µ—Ç –ø—Ä–µ–¥—Å–∫–∞–∑—ã–≤–∞—Ç—å –±—É–¥—É—â–∏–µ –ø–æ—Å–µ—â–µ–Ω–∏—è. 

–í–æ—Ç –ø—Ä–∏–º–µ—Ä—ã –≤—Ä–µ–º–µ–Ω–Ω—ã—Ö —Ä—è–¥–æ–≤ –ø–æ—Å–µ—â–∞–µ–º–æ—Å—Ç–∏ —Å—Ç—Ä–∞–Ω–∏—Ü –í–∏–∫–∏–ø–µ–¥–∏–∏ (*—Å–∏–Ω–∏–µ* - –æ–±—É—á–∞—é—â–∞—è –≤—ã–±–æ—Ä–∫–∞, *–∑–µ–ª–µ–Ω—ã–µ* - –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏—è –º–æ–¥–µ–ª–∏ –ø–æ–±–µ–¥–∏—Ç–µ–ª—è —Å–æ—Ä–µ–≤–Ω–æ–≤–∞–Ω–∏—è –Ω–∞ Kaggle, *–æ—Ä–∞–Ω–∂–µ–≤—ã–µ* - —Ä–µ–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è):
![Wikipedia Web Traffic Time Series](https://image.ibb.co/cUpEJa/predictions.png)

In [1]:
import re
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv("wikipedia_train.csv")
test = pd.read_csv("wikipedia_test.csv")

## Data Analysis

### –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —Ä—É—É—Å–∫–∏—Ö —Å—Ç–∞—Ç–µ–π –≤ –í–∏–∫–∏–ø–µ–¥–∏–∏

In [3]:
def get_language(page):
    res = re.search('[a-z][a-z].wikipedia.org',page)
    if res:
        return res.group(0)[0:2]
    return 'na'

In [4]:
get_language(train['Page'][5])

'en'

In [5]:
lang = train['Page'].apply(lambda x: get_language(x))

In [6]:
train['lang'] = lang

In [7]:
lang.value_counts()

en    140
fr    128
ja    124
na    124
de    122
ru    102
es    101
zh     98
Name: Page, dtype: int64

### –°–∞–º–∞—è –ø–æ–ø—É–ª—è—Ä–Ω–∞—è —Å—Ç–∞—Ç—å—è

In [8]:
train.fillna(0, inplace=True)

In [9]:
train_ru = train[train['lang']=='ru']
train_ru = train_ru.drop(['lang','Page'], axis = 1)
train_ru.fillna(0, inplace = True)
train_ru['means'] = train_ru.apply(np.mean, axis = 1)

In [12]:
train_ru['means']==train_ru['means'].max()

6      False
8      False
38     False
154    False
180     True
548    False
602    False
639    False
640    False
641    False
642    False
643    False
644    False
645    False
646    False
647    False
648    False
649    False
650    False
651    False
652    False
653    False
654    False
655    False
656    False
657    False
658    False
659    False
660    False
661    False
       ...
704    False
705    False
706    False
707    False
708    False
709    False
710    False
711    False
712    False
713    False
714    False
715    False
716    False
717    False
718    False
719    False
720    False
721    False
722    False
723    False
724    False
725    False
726    False
727    False
728    False
729    False
730    False
731    False
732    False
733    False
Name: means, Length: 102, dtype: bool

In [11]:
train.iloc[180,:1]

Page    Facebook_ru.wikipedia.org_desktop_all-agents
Name: 180, dtype: object

In [324]:
train_ru.index

Int64Index([  6,   8,  38, 154, 180, 548, 602, 639, 640, 641,
            ...
            724, 725, 726, 727, 728, 729, 730, 731, 732, 733],
           dtype='int64', length=102)

## Forecasting

–ù—É–∂–Ω–æ –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞—Ç—å `train` –¥–∞–Ω–Ω—ã–µ –≤ —Å–ª–µ–¥—É—é—â–∏–π —Ñ–æ—Ä–º–∞—Ç:

In [13]:
train_melt = pd.melt(train, value_vars=train.columns[1:], id_vars=['Page'])

In [14]:

train_melt.head()

                                                Page    variable value
0   15._November_de.wikipedia.org_desktop_all-agents  2015-07-01    32
1     2012_(film)_fr.wikipedia.org_all-access_spider  2015-07-01     2
2  2016_FIFA_U-20Â•≥Â≠ê„ÉØ„Éº„É´„Éâ„Ç´„ÉÉ„Éó_ja.wikipedia.org_all-a...  2015-07-01     1
3  2016_UEFA_Europa_League_Final_en.wikipedia.org...  2015-07-01     3
4  2016_in_video_gaming_en.wikipedia.org_all-acce...  2015-07-01    24

–¢–∞–∫–∏–º –æ–±—Ä–∞–∑–æ–º —É –≤–∞—Å –∫–∞–∂–¥–∞—è —Å—Ç–æ—á–∫–∞ —Å–æ–¥–µ—Ä–∂–∏—Ç –Ω–∞–±–æ—Ä —Ñ–∏—á (`Page`, `date`) –∏ —Ü–µ–ª–µ–≤—É—é –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é (`Visits`). –ü—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞—Ç—å –¥–∞–Ω–Ω—ã–µ –≤ —Ç–∞–∫–æ–π —Ñ–æ—Ä–º–∞—Ç –ø–æ–º–æ–∂–µ—Ç —Ñ—É–Ω–∫—Ü–∏—è `pd.melt()` (https://pandas.pydata.org/pandas-docs/stable/generated/pandas.melt.html)

–û—Ü–µ–Ω–∏–≤–∞—Ç—å –∫–∞—á–µ—Å—Ç–≤–æ –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏–π –º—ã –±—É–¥–µ–º —Å –ø–æ–º–æ—â—å—é [SMAPE](https://en.wikipedia.org/wiki/Symmetric_mean_absolute_percentage_error) :

In [15]:
def pandas_smape(df):
    df.fillna(0, inplace=True)
    df["SMAPE"] = 200 * np.abs(df["Visits"] - df["pred_Visits"]) / (df["Visits"] + df["pred_Visits"])
    df["SMAPE"].fillna(0, inplace=True)
    return np.mean(df["SMAPE"])

–ß—Ç–æ –± –æ—Ü–µ–Ω–∏—Ç—å –ø—Ä–æ–≥–Ω–æ–∑ –Ω—É–∂–Ω–æ –ø—Ä–µ–¥—Å—Ç–∞–≤–∏—Ç—å `test` –¥–∞–Ω–Ω—ã–µ –≤ —Å–ª–µ–¥—É—é—â–µ–º —Ñ–æ—Ä–º–∞—Ç–µ:

In [16]:
test_melt = pd.melt(test, value_vars=test.columns[1:], id_vars=['Page'])

In [17]:
test_melt.shape

(58218, 3)

–ò –∑–∞—Ç–µ–º –≤—ã–∑–≤–∞—Ç—å —Ñ—É–Ω–∫—Ü–∏—é –¥–ª—è –ø–æ–¥—Å—á–µ—Ç–∞ –º–µ—Ç—Ä–∏–∫–∏.

### Last day baseline

### –ù–∞ –æ—Å–Ω–æ–≤–µ –æ–¥–Ω–æ–≥–æ –¥–Ω—è

–ù—É–∂–Ω–æ —Å–¥–µ–ª–∞—Ç—å –ø—Ä–æ–≥–Ω–æ–∑ –Ω–∞ –æ—Å–Ω–æ–≤–µ –ø–æ—Å–µ—â–µ–Ω–∏–π –≤ –ø–æ—Å–ª–µ–¥–Ω–∏–π –∏–∑–≤–µ—Å—Ç–Ω—ã–π –Ω–∞–º –¥–µ–Ω—å –∏–∑¬†train¬†(–ø—Ä–æ–¥—É–±–ª–∏—Ä–æ–≤–∞—Ç—å –∑–Ω–∞—á–µ–Ω–∏–µ –¥–ª—è –∫–∞–∂–¥–æ–≥–æ –¥–Ω—è –≤¬†test)

In [18]:
train_day = train.iloc[:,428]

In [19]:
test_pred = test.copy(deep = True)
for i in test.columns[1:]:
    test_pred[i]=train_day

In [21]:
test_pred = pd.melt(test_pred, value_vars=test_pred.columns[1:], id_vars=['Page'])

In [24]:
test_melt['pred_Visits'] = test_pred['value']

In [25]:
test_melt.rename(columns = {'value':'Visits'}, inplace =True)

In [26]:
pandas_smape(test_melt)

54.16127748085736

### Median baseline

–ù—É–∂–Ω–æ —Å–¥–µ–ª–∞—Ç—å –ø—Ä–æ–≥–Ω–æ–∑ –Ω–∞ –æ—Å–Ω–æ–≤–µ –º–µ–¥–∏–∞–Ω—ã –∑–∞ –ø–æ—Å–ª–µ–¥–Ω–∏–µ **30** –¥–Ω–µ–π –∏–∑ `train`. 

–ê –∑–∞—Ç–µ–º —É–ª—É—á—à–∏—Ç—å –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏—è –∏—Å–ø–æ–ª—å–∑—É—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –≤—ã—Ö–æ–¥–Ω–æ–π —ç—Ç–æ –∏–ª–∏ –Ω–µ—Ç (–≤–æ—Å–ø–æ–ª—å–∑—É–π—Ç–µ—Å—å —Ñ—É–Ω–∫—Ü–∏–µ–π [dayofweek](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DatetimeIndex.dayofweek.html) ) –∏ —Ä–∞–∑–Ω—ã–µ –æ–∫–Ω–∞ –¥–ª—è –ø–æ–¥—Å—á–µ—Ç–∞ –º–µ–¥–∏–∞–Ω—ã (7 –¥–Ω–µ–π, 60 –¥–Ω–µ–π –∏ —Ç–¥)

–í–∞–º –ø–æ–º–æ–∂–µ—Ç —Ñ—É–Ω–∫—Ü–∏—è `pd.groupby()` (https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.groupby.html)

In [79]:
train_30 = train.iloc[:,399:429]
train_30.fillna(0, inplace=True)

In [81]:
train_30.shape

(939, 30)

In [82]:
test_pred_30 = pd.DataFrame({i:np.median(train_30, axis = 1) for i in test.columns[1:]})

üòè

In [83]:
test_pred_30 = pd.melt(test_pred_30, value_vars=test_pred_30.columns, id_vars=['Page'])

In [84]:
test_pred_30.rename(columns={'value':'pred_Visits'}, inplace = True)

In [85]:
test_melt.rename(columns = {'value':'Visits'}, inplace = True)

In [86]:
test_melt['pred_Visits']= test_pred_30['pred_Visits']

In [87]:
test_melt = test_melt.drop('SMAPE', axis = 1)

In [88]:
test_melt.head()

,Page,variable,Visits,pred_Visits
0,15._November_de.wikipedia.org_desktop_all-agents,2016-09-10,43.0,24.0
1,2012_(film)_fr.wikipedia.org_all-access_spider,2016-09-10,6.0,5.0
2,2016_FIFA_U-20Â•≥Â≠ê„ÉØ„Éº„É´„Éâ„Ç´„ÉÉ„Éó_ja.wikipedia.org_all-a...,2016-09-10,4.0,2.5
3,2016_UEFA_Europa_League_Final_en.wikipedia.org...,2016-09-10,15.0,15.5
4,2016_in_video_gaming_en.wikipedia.org_all-acce...,2016-09-10,101.0,110.5

In [89]:
pandas_smape(test_melt)

51.89889768202033

### –ú–æ–¥–µ–ª—å —Å —É—á–µ—Ç–æ–º –≤—ã—Ö–æ–¥–Ω—ã—Ö –∏ —Ä–∞–∑–Ω—ã–º–∏ –æ–∫–Ω–∞–º–∏ –º–µ–¥–∏–∞–Ω—ã

In [39]:
train_week = train.copy(deep = True)

In [40]:
train_week = train_week.drop(['Page','lang'], axis = 1 )

In [41]:
train_week.columns= pd.to_datetime(train_week.columns).dayofweek.values

In [42]:
train_week.columns = [1 if i>=0 and i<=4 else 0 for i in train_week.columns]

In [43]:
train_week = train_week.groupby(train_week.columns, axis = 1).median()

In [44]:
test_week = test.drop('Page', axis = 1)

In [45]:
test_week.columns  = pd.to_datetime(test_week.columns).dayofweek.values

In [48]:
test_week.columns = [1 if i>=0 and i<=4 else 0 for i in test_week.columns]

In [50]:
for i in test_week.columns:
    test_week[i]= train_week[i]

In [51]:
test_week.head()

,0,0,1,1,1,1,1,0,0,1,...,1,1,1,1,0,0,1,1,1,1
0,26.0,26.0,29.0,29.0,29.0,29.0,29.0,26.0,26.0,29.0,...,29.0,29.0,29.0,29.0,26.0,26.0,29.0,29.0,29.0,29.0
1,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,...,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0
2,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
3,12.5,12.5,11.5,11.5,11.5,11.5,11.5,12.5,12.5,11.5,...,11.5,11.5,11.5,11.5,12.5,12.5,11.5,11.5,11.5,11.5
4,63.0,63.0,93.0,93.0,93.0,93.0,93.0,63.0,63.0,93.0,...,93.0,93.0,93.0,93.0,63.0,63.0,93.0,93.0,93.0,93.0

In [52]:
test_week['Page'] = test['Page']

In [53]:
test_week_melt = pd.melt(test_week, value_vars=test_week.columns[:-1], id_vars=['Page'])

In [54]:
test_week_melt.head()

                                                Page variable  value
0   15._November_de.wikipedia.org_desktop_all-agents        0   26.0
1     2012_(film)_fr.wikipedia.org_all-access_spider        0    5.0
2  2016_FIFA_U-20Â•≥Â≠ê„ÉØ„Éº„É´„Éâ„Ç´„ÉÉ„Éó_ja.wikipedia.org_all-a...        0    2.0
3  2016_UEFA_Europa_League_Final_en.wikipedia.org...        0   12.5
4  2016_in_video_gaming_en.wikipedia.org_all-acce...        0   63.0

In [55]:
test_melt.rename(columns = {'value':'Visits'}, inplace = True)

In [56]:
test_melt['pred_Visits']= test_week_melt['value']

In [57]:
test_melt = test_melt.drop('SMAPE', axis = 1)

In [59]:
test_melt.head()

,Page,variable,Visits,pred_Visits
0,15._November_de.wikipedia.org_desktop_all-agents,2016-09-10,43.0,26.0
1,2012_(film)_fr.wikipedia.org_all-access_spider,2016-09-10,6.0,5.0
2,2016_FIFA_U-20Â•≥Â≠ê„ÉØ„Éº„É´„Éâ„Ç´„ÉÉ„Éó_ja.wikipedia.org_all-a...,2016-09-10,4.0,2.0
3,2016_UEFA_Europa_League_Final_en.wikipedia.org...,2016-09-10,15.0,12.5
4,2016_in_video_gaming_en.wikipedia.org_all-acce...,2016-09-10,101.0,63.0

In [60]:
pandas_smape(test_melt)

52.41218109833793

### –ü–µ—Ä–µ–±–æ—Ä –æ–∫–Ω–∞ –º–µ–¥–∏–∞–Ω

–í—ã—Ö–æ–¥–Ω–æ–π –∏–ª–∏ –Ω–µ –≤—ã—Ö–æ–¥–Ω–æ–π

In [90]:
import warnings
warnings.filterwarnings("ignore")

In [96]:
train = pd.read_csv("wikipedia_train.csv")

train.fillna(0, inplace=True)

In [111]:

smape_results = pd.DataFrame({i:np.ones(61)})

for j in range(1,61):
    test_pred = pd.DataFrame({i:np.median(train.iloc[:,((-1)*j):], axis = 1) for i in test.columns[1:]})

    test_pred['Page'] = test.Page
    test_predm = pd.melt(test_pred, value_vars=test_pred.columns[:-1], id_vars='Page')

    testm = pd.melt(test, value_vars=test.columns[1:], id_vars='Page')
    testm['pred_Visits'] = test_predm.value
    testm.rename(columns={'variable':'date', 'value':'Visits'}, inplace = True)

    smape_results.iloc[j,0] = pandas_smape(testm)
smape_results

            0
0    1.000000
1   54.161277
2   52.605790
3   51.535987
4   51.327896
5   50.703628
6   50.676091
7   50.312226
8   50.096783
9   49.842494
10  49.852408
11  49.799453
12  49.983470
13  50.044595
14  50.151430
15  50.137113
16  50.489262
17  50.565703
18  51.282409
19  51.452802
20  51.636987
21  51.590092
22  51.613718
23  51.646843
24  51.787856
25  51.772622
26  51.863426
27  51.830602
28  51.941073
29  51.813764
..        ...
31  51.747285
32  51.862568
33  51.824420
34  51.838561
35  51.793625
36  51.798807
37  51.664974
38  51.690134
39  51.590955
40  51.624601
41  51.546042
42  51.605537
43  51.483210
44  51.685379
45  51.573821
46  51.680819
47  51.622241
48  51.751671
49  51.746001
50  51.719946
51  51.699365
52  51.711716
53  51.713715
54  51.747313
55  51.713193
56  51.723106
57  51.681152
58  51.718961
59  51.730171
60  51.721937

[61 rows x 1 columns]

In [115]:
from datetime import datetime, date, time

train_weekday_columns = np.array([datetime.strptime(i, "%Y-%m-%d").isoweekday() for i in train.columns[1:]])
train_workday = train.iloc[:, (train_weekday_columns != 6)&(train_weekday_columns != 7)]
train_weekend = train.iloc[:, (train_weekday_columns == 6)|(train_weekday_columns == 7)]

test_weekday_columns = np.array([datetime.strptime(i, "%Y-%m-%d").isoweekday() for i in test.columns[1:]])
test_workday = test.iloc[:, (test_weekday_columns != 6)&(test_weekday_columns != 7)]
test_weekend = test.iloc[:, (test_weekday_columns == 6)|(test_weekday_columns == 7)]

smape_results = pd.DataFrame({i:np.ones(20) for i in range(6)})

for work in range(smape_results.shape[0]):
    for end in range(smape_results.shape[1]):

        test_pred_workday = pd.DataFrame({i:np.median(train_workday.iloc[:,1:].iloc[:,(-1)*work:], axis = 1) for i in test_workday.columns})
        test_pred_weekend = pd.DataFrame({i:np.median(train_weekend.iloc[:,1:].iloc[:,(-1)*end:], axis = 1) for i in test_weekend.columns})

        test_pred = pd.concat([test_pred_workday, test_pred_weekend], axis=1)


        test_predm = pd.melt(test_pred, value_vars=test_pred.columns[:-1], id_vars='Page')
        test_predm.sort_values(by = ['variable'], inplace = True)
        testm = pd.melt(test, value_vars=test.columns[1:], id_vars='Page')
        testm['pred_Visits'] = test_predm.value
        testm.rename(columns={'variable':'date', 'value':'Visits'}, inplace = True)

        smape_results.iloc[work, end] = pandas_smape(testm)
smape_results

            0          1          2          3          4          5
0   54.002589  56.502986  55.764152  55.386954  55.392198  55.422883
1   55.775309  58.275705  57.536871  57.159673  57.164917  57.195603
2   55.077931  57.578328  56.839494  56.462296  56.467540  56.498226
3   53.971921  56.472318  55.733484  55.356286  55.361530  55.392216
4   53.699531  56.199927  55.461093  55.083895  55.089139  55.119825
5   53.055447  55.555844  54.817009  54.439812  54.445056  54.475741
6   53.081970  55.582366  54.843532  54.466334  54.471578  54.502264
7   52.786949  55.287345  54.548511  54.171313  54.176557  54.207243
8   52.713621  55.214018  54.475184  54.097986  54.103230  54.133915
9   52.717657  55.218053  54.479219  54.102021  54.107265  54.137951
10  52.778048  55.278445  54.539611  54.162413  54.167657  54.198343
11  52.990654  55.491050  54.752216  54.375018  54.380262  54.410948
12  53.164213  55.664609  54.925775  54.548577  54.553822  54.584507
13  53.437720  55.938117  55.199283  54.822085  54.827329  54.858014
14  53.684508  56.184904  55.446070  55.068872  55.074116  55.104802
15  53.730143  56.230540  55.491705  55.114508  55.119752  55.150437
16  53.811483  56.311880  55.573046  55.195848  55.201092  55.231778
17  53.940015  56.440411  55.701577  55.324379  55.329623  55.360309
18  54.034915  56.535312  55.796478  55.419280  55.424524  55.455210
19  54.001044  56.501441  55.762606  55.385409  55.390653  55.421338